:root {
  --box-shadow: 2px 3px 13px 0px #000000;
  --box-shadow-hover: 2px 3px 13px 0px #c9c6c6;
  --background-1: rgb(201 201 201);
  --background-btn-hover: rgb(43, 43, 43);
  --colo-btn-question: rgb(201 201 201);
  --color-text: black;
  --color-text-hover: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div#root {
  /* height: 95vh; */
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}


.app-header-div-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}


.div-head-flag-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-head-flag-link img {
  width: 23px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.App-header a {
  /* margin-right: 75px; */
  /* margin-left: 10px; */
}

.App-header a i {
  font-size: 20px;
  color: black;
}

.div-envoi-satoshis {
  text-align: left;
}

.App-main-box-wallet-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.App-main-box-wallet-details span {}

.App-main-box-wallet-details button {
  background: var(--background-1);
  margin-left: 20%;
  margin-top: 7px;
  text-align: center;
  width: fit-content;
  padding: 5px 10px;
  border: 0;
  font-size: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  font-family: 'Slater Industrial Regular';
}

form label {
  font-size: 13px;
}


.from-btn-input {
  background: var(--background-1);
  margin-left: 14%;
  margin-top: 3px;
  text-align: center;
  width: fit-content;
  padding: 5px 10px;
  border: 0;
  font-size: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  font-family: 'Slater Industrial Regular';
}

.from-btn-input:hover {
  background: var(--background-btn-hover);
  box-shadow: var(--box-shadow-hover);
  color: var(--color-text-hover);
}


.form-input-amount {
  border-radius: 7px;
  margin-left: 3px;
  margin-right: 5px;
  text-align: center;
  width: 25%;
  height: 17px;
}

.div-envoi-satoshis p {
  word-wrap: break-word;
  font-size: 16px;
}

#p-LNURL {
  display: none;
}


.qr-code-envoi {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}


.qr-code-envoi button {
  background: var(--background-1);
  margin-left: 14%;
  margin-top: 7px;
  text-align: center;
  width: fit-content;
  padding: 5px 10px;
  border: 0;
  font-size: 14px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  font-family: 'Slater Industrial Regular';
}

.qr-code-envoi button:hover {
  background: var(--background-btn-hover);
  box-shadow: var(--box-shadow-hover);
  color: var(--color-text-hover);
}


.qr-code-envoi svg {
  padding: 10px;
  background: white;
}


#loader-qr-code {
  color: #000;
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 12px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.App-header h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
}

.App-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 81.2vh;
}

.App-main h2 {
  font-size: 22px;
  padding: 10px;
}




.App-main-rules {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}


.main-rules-list {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
}


.main-rules-questions {
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
}


.main-rules-satoshis {
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
  -moz-animation: fadein 5s;
  -ms-animation: fadein 5s;
  -o-animation: fadein 5s;
}

.main-rules-satoshis p {
  margin: 3px;
  font-size: 15px;
}

.main-rules-list,
.main-rules-questions,
.main-rules-satoshis {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 70%;
}

.warning-brave {
  display: none;
}

.App-main-box-wallet a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.div-suggest-question-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.div-suggest-question-link p {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 7px;
}

.div-suggest-question-link i::before {
  font-size: 25px;
  margin-right: 5px;
}

.main-rules-list i::before {
  color: green;
  font-size: 50px;
}

.main-rules-questions i::before {
  color: rgb(255 255 255);
  font-size: 50px;
}


.main-rules-satoshis i::before {
  color: rgb(226, 192, 0);
  font-size: 50px;
}


.fa-triangle-exclamation::before {
  color: rgb(255, 217, 0);
  font-size: 25px;
}

.App-main-rules i {
  margin-right: 10px;
}

.App-main-rules h4 {
  font-size: 20px;
  color: white;
}


.App-main-box-wallet {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


.App-main-div-add-question {
  text-align: center;
  width: 33%;
}

.App-main-div-create-session {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}


.App-main-div-add-question .button-add-question {
  background: var(--colo-btn-question);
  width: 50%;
  height: 60px;
  margin-top: 40px;
  border: 0;
  font-size: 27px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
}

.App-main-div-add-question button:hover {
  background: var(--background-btn-hover);
  box-shadow: var(--box-shadow-hover);
  color: var(--color-text-hover);
}


.App-main-div-create-session .button-play {
  background: var(--colo-btn-question);
  width: 42%;
  height: 90px;
  border: 0;
  font-size: 55px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  font-family: 'Slater Industrial Regular';
}

.App-main-div-create-session .button-play:hover {
  background: var(--background-btn-hover);
  box-shadow: var(--box-shadow-hover);
  color: var(--color-text-hover);
}




.btn-8,
.btn-8 *,
.btn-8 :after,
.btn-8 :before,
.btn-8:after,
.btn-8:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-8 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-8:disabled {
  cursor: default;
}
.btn-8:-moz-focusring {
  outline: auto;
}
.btn-8 svg {
  display: block;
  vertical-align: middle;
}
.btn-8 [hidden] {
  display: none;
}
.btn-8 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-8 span {
  mix-blend-mode: difference;
}
.btn-8:after,
.btn-8:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 100%,
    0 100%
  );
  clip-path: polygon(0 0, calc(100% - var(--tilt)) 0, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-8:after {
  left: 100%;
  transform: translateX(var(--progress, 0)) rotate(180deg);
  z-index: -1;
}
.btn-8:hover:before {
  --progress: 100%;
}
.btn-8:hover:after {
  --progress: -100%;
}



/* Tablette and phone */
/*
@media (max-width: 1024px) {
  .App-main-rules {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .main-rules-list,
  .main-rules-questions,
  .main-rules-satoshis {
    width: 100%;
  }


  .App-main-div-create-session .button-play {
    width: 66%;
  }

  .App-main-div-create-session {
    width: 100%;
  }

  .div-envoi-satoshis {
    width: 95%;
  }

  .div-envoi-satoshis p {
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-input-amount {
    width: 30%;
  }

  .from-btn-input {
    margin-top: 15px;
    width: 50%;
  }

  .qr-code-envoi button:hover {
    height: 50px;
  }
}

*/