.page-quizz-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 4%;
}

.quizz-box-question {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.box-question-counter-question {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
}

.box-question-counter-question p {
    margin-top: 50px;
    width: 12%;
}

.timer {
    display: flex;
    align-items: center;
    width: 60%;
}


.cpt-satoshis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cpt-satoshis p {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

.cpt-satoshis i:before {
    font-size: 30px;
    color: rgb(251 255 19);
}

.box-question-question {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.box-question-question h4 {
    background: rgba(255, 255, 255, 0.5);
    background: var(--background-1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 70%;
    text-align: center;
    color: black;
    font-size: 27px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 40px;
    color: var(--color-text);
    font-weight: 600;
    font-family: 'SlimJim';
}

.box-question-answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-question-result-answers button,
.box-question-answers button {
    background: rgba(255, 255, 255, 0.5);
    background: var(--background-1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 48%;
    min-height: 110px;
    font-size: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 0;
    margin-bottom: 27px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    color: var(--color-text);
    font-family: 'SlimJim';
}

.box-question-answers button {
    max-height: 175px;
    font-size: 27px;
}

.box-question-result-answers button {
    color: white;
}

.box-question-result-answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 160px;
}

.box-question-result-answers p {
    margin-top: 5px;
    font-size: 27px;
}

.div-button-next {
    text-align: end;
}

.button-next,
.button-next-two {
    background: var(--background-1);
    width: 30%;
    height: 55px;
    margin-top: 30px;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Slater Industrial Regular';
}

.button-next:hover,
.button-next-two:hover {
    background: var(--background-btn-hover);
    box-shadow: var(--box-shadow-hover);
    color: var(--color-text-hover);
}

.button-next-two {
    margin-top: 145px;
}


.box-question-button-next {
    text-align: end;
}


.box-question-result p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}


.box-question-button-next button {
    background: var(--background-1);
    width: 30%;
    height: 55px;
    margin-top: 30px;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Slater Industrial Regular';
}

.box-question-button-next button:hover {
    background: var(--background-btn-hover);
    box-shadow: var(--box-shadow-hover);
    color: var(--color-text-hover);
}









.countdown {
    display: grid;
    margin: auto;
    width: 100px;
    height: 100px;
}

.countdown::after {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font-family: 'Slater Industrial Regular';
    font-size: 30px;
    content: counter(s);
    animation: num 15s steps(1) infinite;
    -webkit-animation: num 15s steps(1) infinite;
}

@keyframes num {
    0% {
        counter-reset: s 15;
    }

    6.6% {
        counter-reset: s 14;
    }

    13.2% {
        counter-reset: s 13;
    }

    19.8% {
        counter-reset: s 12;
    }

    26.4% {
        counter-reset: s 11;
    }

    33% {
        counter-reset: s 10;
    }

    39.6% {
        counter-reset: s 9;
    }

    46.2% {
        counter-reset: s 8;
    }

    52.8% {
        counter-reset: s 7;
    }

    59.4% {
        counter-reset: s 6;
    }

    66% {
        counter-reset: s 5;
    }

    72.6% {
        counter-reset: s 4;
    }

    79.2% {
        counter-reset: s 3;
    }

    85.2% {
        counter-reset: s 2;
    }

    92.4% {
        counter-reset: s 1;
    }

    100% {
        counter-reset: s 0;
    }
}

svg {
    grid-column: 1;
    grid-row: 1;
    background: none;
    padding: 0;
}

[r] {
    fill: none;
    stroke: silver;
}

[r]+[r] {
    transform: rotate(-90deg);
    stroke-linecap: round;
    stroke: #000000;
    animation: arc 15s linear infinite;
    animation-name: arc, col;
    -webkit-animation: arc 15s linear infinite;
}

@keyframes arc {
    0% {
        stroke-dashoffset: 0px;
    }
}

@keyframes col {
    0% {
        stroke: #000000;
    }

    100% {
        stroke: #000000;
    }
}











/* Tablette and phone */
@media (max-width: 1024px) {
    .quizz-box-question {
        width: 90%;
        margin-top: 7%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .box-question-counter-question {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        font-size: 18px;
    }

    .box-question-counter-question .cpt-satoshis {
        order: 1;
        margin-bottom: 20px;
    }

    .timer {
        order: 3;
        width: 100%;
    }

    .box-question-counter-question p {
        order: 2;
        text-align: center;
        width: 100%;
    }

    .box-question-answers {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .box-question-answers button,
    .box-question-result-answers button {
        width: 80%;
    }

    .box-question-button-next {
        text-align: center;
    }

    .box-question-button-next button {
        width: 70%;
    }

    .button-next-two {
        margin-top: 30px;
    }
}