.quizz-box-ressources {
    margin-top: 10%;
    width: 90%;
    padding: 15px;
}

.quizz-box-ressources h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    font-family: 'SlimJim';
    letter-spacing: 1px;
}

.box-ressources-links {
    display: flex;
    flex-direction: column;
}

.box-ressources-links a {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'SlimJim';
    letter-spacing: 1px;
}




/* Tablette and phone */
@media (min-width: 1000px) {

    .quizz-box-ressources {
        margin-top: 7%;
    }
}