@font-face {
  font-family: 'Slater Industrial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Slater Industrial Regular'), url('SlaterIndustrial.woff') format('woff');
}

body {
  background: linear-gradient(90deg, rgba(158, 0, 0, 1) 13%, rgba(170, 42, 0, 1) 47%, rgba(201, 176, 0, 1) 100%);
  margin: 0;
  color: white;
  font-family: 'Slater Industrial Regular';
  font-style: normal;
  font-weight: normal;
}