.box-result-quizz {
    width: 70%;
    margin-top: 10%;
    padding: 35px;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
    background: rgba(255,255,255,0.15);
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.result-quizz-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.result-quizz-score h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 3px;
}

.result-quizz-score p {
    color: white;
}

hr {
    width: 80%;
    border-bottom: 0;
}


.box-claim {
    display: flex;
    flex-direction: column;
}

.box-claim svg {
    padding: 5px;
    background-color: white;
}


#qr-code {
    text-align: center;
}

.text-LNURL {
    word-wrap: break-word;
}


#p-LNURL {
    display: none;
}

.qr-code-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qr-code-infos h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}


.qr-code-infos p {
    text-align: left;
    color: white;
    font-size: 16px;
    margin-top: 0;
    width: 100%;
}

.qr-code-infos p.p-label {
    text-align: left;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
}

.qr-code-infos a {
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
    color: white;
}

a.qr-code-infos-link {
    text-align: left;
    margin-bottom: 5px;
}


.qr-code-infos p.p-wallet {
    font-size: 15px;
}

.result-quizz-score a {
    text-align: center;
    width: 100%;
}



.btn-3,
.btn-3 *,
.btn-3 :after,
.btn-3 :before,
.btn-3:after,
.btn-3:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-3 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(255, 255, 255);
  background-image: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  margin-top: 15%;
  margin-bottom: 5%;
  -webkit-mask-image: -webkit-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
  padding: 0;
  text-transform: uppercase;
}
.btn-3:disabled {
  cursor: default;
}
.btn-3:-moz-focusring {
  outline: auto;
}
.btn-3 svg {
  display: block;
  vertical-align: middle;
}
.btn-3 [hidden] {
  display: none;
}
.btn-3 {
  border-radius: 3px;
  border-width: 1px;
  overflow: hidden;
  padding: 0.8rem 1.5rem;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.btn-3 span {
  mix-blend-mode: difference;
}
.btn-3:before {
  background: rgb(27, 27, 27);
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, -100%));
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}
.btn-3:hover:before {
  --progress: 0;
}



.qr-code-infos button {
    margin-top: 10px;
    margin-bottom: 5px; 
}




@media(min-width: 1000px){
    .box-result-quizz {
        width: 35%;
        margin-top: 4%;
    }
}



@media(min-width: 1600px){
    .box-result-quizz {
        width: 30%;
        margin-top: 3%;
    }
}