.page-add-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}


.div-form-add-question {
    text-align: center;
    width: 30%;
}


.div-form-add-question form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}