:root {
  --box-shadow: 2px 3px 13px 0px #000000;
  --background-1: linear-gradient(0deg, rgba(172, 0, 0, 1) 0%, rgba(197, 199, 18, 1) 100%);
}



.App {
  text-align: center;
}

.App-header {
  text-align: center;
}

.App-header h1 {
  font-size: 45px;
}

.App-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.App-main h3 {
  font-size: 35px;
}


.App-main-rules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-rules-questions,
.main-rules-life,
.main-rules-satoshis {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.main-rules-questions i::before {
  color: rgb(216, 4, 4);
  font-size: 50px;
}

.main-rules-life i::before {
  color: rgb(2, 124, 2);
  font-size: 50px;
}


.main-rules-satoshis i::before {
  color: rgb(226, 192, 0);
  font-size: 50px;
}




.App-main-rules h4 {
  font-size: 18px;
}










.App-main-div-create-session {
  width: 100%;
  text-align: center;
}

.App-main-div-create-session .button-play {
  background: var(--background-1);
  width: 18%;
  height: 55px;
  margin-top: 30px;
  border: 0;
  font-size: 24px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: var(--box-shadow);
}