.page-quizz-main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5%;
}

.quizz-box-question {
    width: 38%;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.box-question-counter-question {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.timer {
    display: flex;
    align-items: center;
}

.timer h3 {
    background: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 10px;
    margin: 0;
}

.cpt-satoshis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cpt-satoshis p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.cpt-satoshis i:before {
    font-size: 30px;
}

.box-question-question {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.box-question-question h4 {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 70%;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 30px;
    box-shadow: var(--box-shadow);
}

.box-question-answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-question-answers button {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 42%;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 0;
    margin-bottom: 27px;
}


.box-question-button-next {
    text-align: end;
}


.box-question-result p {
    text-align: center;
}


.box-question-button-next button {
    background: linear-gradient(180deg, rgba(193, 0, 0, 1) 0%, rgba(205, 207, 17, 1) 100%);
    width: 30%;
    height: 55px;
    margin-top: 30px;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: var(--box-shadow);
}