.quizz-box-ressources {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 29%;
    padding: 0 15px 15px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: var(--box-shadow);
}

.quizz-box-ressources h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-ressources-links {}

.box-ressources-links a {
    padding-left: 5px;
}